<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM REPORTS
	</entry>
	
	<entry key="selectList">
			  SELECT *
				FROM 
				    (SELECT ROWNUM RNUM
				           , A.*
				    FROM 
				         (SELECT
				                  REPORT_NO
				                 ,MEM_NO
				                 ,REPORT_CATEGORY
				                 ,REPORT_BOARD_NO
				                 ,REPORT_DATE
				                 ,REPORT_CONTENTS
				                 ,REPORT_RESULT
				                 ,BC_YN
				                 ,BLINDING
				            FROM REPORTS
				        ORDER BY REPORT_DATE DESC) A)
				  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectReport">
		SELECT
                 REPORT_NO
                ,MEM_NO
                ,REPORT_CATEGORY
                ,REPORT_BOARD_NO
                ,REPORT_DATE
                ,REPORT_CONTENTS
                ,REPORT_RESULT
                ,BC_YN
                ,BLINDING
           FROM REPORTS 
           JOIN MEMBER USING(MEM_NO)
          WHERE REPORT_NO = ?
	</entry>
	
	
	
	
</properties>