<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="login">
		SELECT 
		      MEM_NO
		     ,MEM_ID
		     ,MEM_NAME
		     ,MEM_PWD
		     ,EMAIL
		     ,MOBILE
		     ,ZIPCODE
		     ,ADDRESS1
		     ,ADDRESS2
			 ,ADDREXTRA
			 ,GENDER
		     ,BIRTH_DATE
		     ,REG_DATE
		     ,POINT
		     ,STATUS
		     ,ADDRESS_NO
		     ,MEM_CATEGORY
		FROM MEMBERS
		WHERE MEM_ID = ?
		AND MEM_PWD = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM MEMBERS
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
	  SELECT *
		FROM 
		    (SELECT ROWNUM RNUM
		           , A.*
		    FROM 
		         (SELECT
		                  MEM_NO
		                 ,MEM_ID
		                 ,MEM_NAME
		                 ,MEM_PWD
		                 ,EMAIL
		                 ,MOBILE
		                 ,ZIPCODE
		                 ,ADDRESS1
		                 ,ADDRESS2
						 ,ADDREXTRA
						 ,GENDER
		                 ,BIRTH_DATE
		                 ,REG_DATE
		                 ,POINT
		                 ,STATUS
		                 ,ADDRESS_NO
		                 ,MEM_CATEGORY
		            FROM MEMBERS
		        ORDER BY REG_DATE DESC) A)
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="idCheck">
		SELECT COUNT(*)
		  FROM MEMBERS
		 WHERE MEM_ID=? 
	</entry>
	<entry key="emailCheck">
		SELECT COUNT(*)
		  FROM MEMBERS
		 WHERE EMAIL=? 
	</entry>
	<entry key="insertMember">
		INSERT INTO MEMBERS(MEM_NO,
                    MEM_ID,
                    MEM_NAME,
                    MEM_PWD,
                    EMAIL,
                    MOBILE,
                    ZIPCODE,
                    ADDRESS1,
                    ADDRESS2,
                    ADDREXTRA,
                    GENDER,
                    REG_DATE,
                    POINT,
                    STATUS,
                    ADDRESS_NO,
                    MEM_CATEGORY
                    ) 
            VALUES(SEQ_MEM.NEXTVAL,
                   ?,
                   ?,
                   ?,
                   ?,
                   ?,
                   ?,
                   ?,
                   ?,
                   ?,
                   ?,
                   SYSDATE,
                   5000,
                   'Y',
                   1,
                   'USER' 
                   )
	</entry>
	
	<entry key="findId">
		SELECT 
		      MEM_NO
		     ,MEM_ID
		     ,MEM_NAME
		     ,MEM_PWD
		     ,EMAIL
		     ,MOBILE
		     ,ZIPCODE
		     ,ADDRESS1
		     ,ADDRESS2
			 ,ADDREXTRA
			 ,GENDER
		     ,BIRTH_DATE
		     ,REG_DATE
		     ,POINT
		     ,STATUS
		     ,ADDRESS_NO
		     ,MEM_CATEGORY
		  FROM MEMBERS
		 WHERE MEM_NAME = ?
		   AND EMAIL = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="findPwd">
			SELECT 
			      MEM_NO
			     ,MEM_ID
			     ,MEM_NAME
			     ,MEM_PWD
			     ,EMAIL
			     ,MOBILE
			     ,ZIPCODE
			     ,ADDRESS1
			     ,ADDRESS2
				 ,ADDREXTRA
				 ,GENDER
			     ,BIRTH_DATE
			     ,REG_DATE
			     ,POINT
			     ,STATUS
			     ,ADDRESS_NO
			     ,MEM_CATEGORY
			  FROM MEMBERS
			 WHERE MEM_NAME = ?
			   AND MEM_ID = ?
			   AND EMAIL = ?
			   AND STATUS = 'Y'
	</entry>
	
	<entry key="updatePwd">
		UPDATE MEMBERS 
		   SET MEM_PWD = ?
		 WHERE MEM_ID = ?
		   AND MEM_NAME = ?
		   AND STATUS = 'Y'
	</entry>
	
		<entry key="reselectMember">
		SELECT 
		      MEM_NO
		     ,MEM_ID
		     ,MEM_NAME
		     ,MEM_PWD
		     ,EMAIL
		     ,MOBILE
		     ,ZIPCODE
		     ,ADDRESS1
		     ,ADDRESS2
			 ,ADDREXTRA
			 ,GENDER
		     ,BIRTH_DATE
		     ,REG_DATE
		     ,POINT
		     ,STATUS
		     ,ADDRESS_NO
		     ,MEM_CATEGORY
		FROM MEMBERS
		WHERE MEM_ID = ?
		AND STATUS = 'Y'
	</entry>


</properties>