<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM RECIPE
		 <!-- WHERE STATUS = 'Y' STATUS 가 없어서 일단 다른거 조인시키지 않고 요걸로 우선 진행 -->
	</entry>
	
	<entry key="selectList">
			  SELECT *
				FROM 
				    (SELECT ROWNUM RNUM
				           , A.*
				    FROM 
				         (SELECT
				                  RECIPE_BOARD_NO
				                 ,P_NO
				                 ,MEM_NO
				                 ,REG_DATE
				                 ,RECIPE_TITLE
				                 ,RECIPE_ING
				                 ,CLICK_NO
				                 ,RECIPE_MAIN_IMG
				            FROM RECIPE
				        ORDER BY REG_DATE DESC) A)
				  WHERE RNUM BETWEEN ? AND ?

	</entry>


	<entry key="selectUserRecipe">
	
		SELECT 
			       recipe_board_no
	             , recipe_main_img 
			     , recipe_title
			     , m.mem_id
			     , r.reg_date
			     , click_no 
			FROM RECIPE r
			JOIN MEMBERS m ON(r.MEM_NO = m.MEM_NO)
			WHERE r.P_NO = ?
	

	</entry>
	

	<entry key="selectSortRecipe">
	
			SELECT 
			       recipe_board_no
	             , recipe_main_img 
			     , recipe_title
			     , m.mem_id
			     , r.reg_date
			     , click_no 
			FROM RECIPE r
			JOIN MEMBERS m ON(r.MEM_NO = m.MEM_NO)
			WHERE r.P_NO = ?
	</entry>
	
	
	<entry key="increaseCount">
	
		update
		      recipe
		set   click_no = click_no + 1
		where recipe_board_no = ?
		
	</entry>
	
	<entry key="selectDetailRecipe">
		
		SELECT
		      R.RECIPE_BOARD_NO
		    , RECIPE_TITLE
		    , M.MEM_ID
		    , R.REG_DATE
		    , CLICK_NO
		    , R.RECIPE_ING
		FROM RECIPE R
		JOIN MEMBERS M ON(R.MEM_NO = M.MEM_NO)
		WHERE R.RECIPE_BOARD_NO = ?

	</entry>
	
	
	<entry key="selectRecipeSequence">
		
		SELECT
		       RECIPE_ATTACH_IMG
		     , SEQUENCE_CONTENT
		FROM RECIPE_SEQUENCE R
		JOIN RECIPE S ON (R.RECIPE_BOARD_NO = S.RECIPE_BOARD_NO)
		WHERE
		      S.RECIPE_BOARD_NO = ?
	
	</entry>
	
</properties>